body {
  font-family: "Space Mono", monospace;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 50px;
}
section {
  /* box disply dite hoile */
  /* display: flex; */
  /* nicher nidke margin */
  margin-bottom: 100px;
}

.flex {
  /* sobgula jagay box bebhohar er jonno */
  display: flex;
}

/* intro of mission2022 //////////////////////////////////*/

.mission2022yollow {
  /* indivudual color bebhoharer jonno */
  color: #ffad5a;
}

.intro {
  /* box gula soman nite hoile */
  width: 50%;
  /* bairer border e kisu faka rakte hoile */
  padding-left: 5%;
}
.intro-line {
  /* akta line er color bheboharer jonno */
  border-left: 5px solid red;
  /* line hight  */
  height: 220px;
  /* koto jayga dore thakbe */
  border-radius: 5px;
}
.intro img {
  /* box e img full show korate hoile */
  width: 100%;
}
.explorenow-link-button {
  /* text er underscore kate hoile */
  text-decoration: none;
  /* button gradient banaite  */
  background-image: linear-gradient(#ff5959, tomato);
  background-color: #ff5959;
  /* content choura korte bebohar hoy  */
  padding: 10px 40px;
  /* text er color */
  color: white;
  /* 400 regulr 700 bold 100 slim */
  font-weight: 700;
  /* round border use e bebhohar hoy */
  border-radius: 5px;
}

.top-banner {
}

/* bullet box ///////////////////////////////////////////*/
.bullet-wrapper{
/* akhane border kora hoy */
/* width: 50%;
margin: 0 auto; */

}

.bullethead {
  /* kothay thakbe */
  position: relative;
  /* left e baray dibe */
  padding-left: 30%;
}
.bb2022yollow {
  color: #ffad5a;
}

/* card-bullet /////////////////////////////////////////*/

.second-section{
    padding-bottom: 90px;
}
.second-heading h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #13103A;
}
.all-box{
    display: flex;
    justify-content: space-between;
}
#mission{
    background-color: #EDF5F6;
}
#vission{
    background-color: #FFEEEE;
}
#goals{
    background-color: #FFF4D6;
}
.common-box{
    padding: 20px 27px 30px;
    width: 27%;
    border-radius: 30px;
}
.box-image{
    width: 140px;
}
.box-image img{
    width: 100%;
}
.common-box h3{
    margin: 10px 0 20px;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.common-box p{
    margin: 0;
}


/* <!-- ourdevelop --> //////////////////////////////////*/
.developer {
  /* box gula soman nite hoile */
  width: 50%;
  /* bairer border e kisu faka rakte hoile */
  padding-left: 5%;
}
.developer img {
  /* box e img full show korate hoile */
  width: 100%;
}
.documentation-link-button {
  /* text er underscore kate hoile */
  text-decoration: none;
  /* button gradient banaite  */
  background-image: linear-gradient(#ff5959, tomato);
  background-color: #ff5959;
  /* content choura korte bebohar hoy  */
  padding: 10px 40px;
  /* text er color */
  color: white;
  /* 400 regulr 700 bold 100 slim */
  font-weight: 700;
  /* round border use e bebhohar hoy */
  border-radius: 5px;
}
.develop-banner {
  background-image: url(images/shapes/shape-1.png);
  /*  */
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20%;
}

/* <!-- ourcommunity --> ////////////////////////////////*/
.community {
  /* box gula soman nite hoile */
  width: 50%;
  /* bairer border e kisu faka rakte hoile */
  padding-left: 5%;
  padding-right: 5%;
}
.community img {
  /* box e img full show korate hoile */
  width: 100%;
}
.documentation-link-button {
  /* text er underscore kate hoile */
  text-decoration: none;
  /* button gradient banaite  */
  background-image: linear-gradient(#ff5959, tomato);
  background-color: #ff5959;
  /* content choura korte bebohar hoy  */
  padding: 10px 40px;
  /* text er color */
  color: white;
  /* 400 regulr 700 bold 100 slim */
  font-weight: 700;
  /* round border use e bebhohar hoy */
  border-radius: 5px;
}
.community-banner {
  background-image: url(images/shapes/shape-11.png);

  background-repeat: no-repeat;
  background-position: bottom right;
}
/* <!-- build apps --> //////////////////////////////////*/
.buildreact-head {
  position: relative;
  padding-left: 30%;
  font-weight: 700;
}
.buildreact-yollow {
  color: #ffad5a;
}
/* <!-- react --> ///////////////////////////////////////*/
.react {
  /* box gula soman nite hoile */
  width: 50%;
  /* bairer border e kisu faka rakte hoile */
  padding-left: 5%;
}
.react-head-color {
  color: black;
}

.react-banner {
  background-image: url();
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  padding: 10px;
  color: #ffad5a;
}

.reactheadash

/* <!-- footer  --> /////////////////////////////////////*/

.fsred2022red {
  color: red;
  position: relative;
}

footer {
  text-align: center;
  background-color: black;
}
footer p {
  text-align: center;
  color: white;
}
footer h4 {
  text-align: center;
  color: white;
}
